<form action="/" method="post" class="form">
    <input type="text" name="city" value="<%=city%>" placeholder="Type a city name..." required autocomplete="off" />
    <button type="submit">Generate</button>
</form>